---
title: page.title
layout: default
---

<h1>{{page.title}} Space Magic</h1>
{% for entry in site.data.entries %}
    {% assign display = nil %}
    {% for tag in entry.tags %}
        {% if tag == page.tagname %}
            {% assign display = "true" %}
        {% endif %}
    {% endfor %}
    {% if display == 'true' %}
        <div class="entry">
            <a href="{{entry.url}}" target="_blank">
                <div>
                    <h3>{{entry.name}}</h3>
                    <p>{{entry.description}}</p>
                    <span>submitted by {{entry.submitter}}</span>
                </div>
            </a>
        </div>
    {% endif %}
{% endfor %}
